<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<body>
<h1>product</h1>
{% load static %}
<p>Static Path Test: {% static 'images/main_banner.png' %}</p>
<img src="{% static 'images/main_banner.png' %}" alt="Test Image" class="img-fluid w-100">
{% if content_list %}
    {% for content in content_list %}
        <hr/>
        <h3><a href="/product/{{ content.id }}">{{ content.title }}</a></h3>
        <h5>{{ content.content }}</h5>
    {% endfor %}
{% else %}
    <p>content가 없습니다.</p>
{% endif %}
</body>
</html>