{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product/product_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="product-list-title">제품목록</h1>
    <hr>
    <div class="product-list">
        <table class="table table-bordered product-table">
            <thead>
                <tr>
                    <th class="image-column">제품 사진</th>
                    <th class="description-column">제품 설명</th>
                    <th class="price-column">제품 가격</th>
                    <th class="quantity-column">수량</th>
                </tr>
            </thead>
            <tbody>
                {% for product in page_obj %}
                <tr>
                    <td><img src="{% static 'images/dummy_image.jpg' %}" alt="제품 이미지" class="product-image"></td>
                    <td>
                        <a href="{% url 'product_detail' product.id %}" class="product-title">
                            <h5 class="product-title">{{ product.title }}</h5>
                        </a>
                        <p class="product-content">{{ product.content|truncatewords:30 }}</p>
                    </td>
                    <td>{{ product.price }}원</td>
                    <td>{{ product.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">처음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
            </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num == page_obj.number %}
                <li class="page-item active"><a class="page-link">{{ page_num }}</a></li>
                {% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">마지막</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
